.card-wrap {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  font-size: 5rem;
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-style: normal;
}

.card-wrap .joker .card-text {
  align-items: center;
}

.card-wrap .joker img {
  width: 80%;
}

.card-wrap .card-item {
  width: 6%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.card-wrap .card-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 8rem;

  border-radius: 0.8rem;
  color: var(--card-color);
  background-color: var(--card-background-color);
  border: 2px solid var(--border-color);
}

.card-wrap .double-char .card-text span {
  letter-spacing: -1rem;
  margin-left: -1.25rem;
}

.card-wrap .card-num {
  color: var(--card-num-color);
}
