.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input-wrap .input-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.input-wrap .input-container::after {
  content: attr(data-prev-command);
  position: absolute;
  bottom: calc(-1em * 1.5);
  font-size: 1.2rem;
}

.input-wrap .input-container input {
  height: 6rem;
  font-size: 4rem;
  padding: 1rem;
  letter-spacing: 0.2rem;
  font-family: consolas;
  border-radius: 0.8rem;
  border-color: var(--border-color);
  border-style: solid;
  background-color: transparent;
}

.input-wrap .input-container .inner-input {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}

.input-wrap .input-container .outter-input {
  z-index: 1;
}

.input-wrap button {
  height: 8rem;
  padding: 0 2rem;
  font-size: 2rem;
  color: var(--btn-color);
  border-radius: 0.8rem;
  border-style: solid;
  border-color: var(--btn-background-color);
  background-color: var(--btn-background-color);
  overflow: hidden;
  cursor: pointer;
  box-sizing: content-box;
}

.input-wrap button:active {
  transform: scale(0.98);
}

.input-wrap .cancel-btn {
  color: #fff;
  border-color: #ca3a31;
  background-color: #ca3a31;
}
